html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
  font-family: $font__primary;
  color: $lightGray;

  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;

  @include breakpoint(medium) {
    background-image: url("/images/bg-header-desktop.png");
  }

  @include breakpoint(large) {
    font-size: 1.15rem;
  }
}

h1,
h2,
h3 {
  color: $darkGray;
  font-weight: 600;
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 25px;

  @include breakpoint(large) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 16px;
  @include breakpoint(large) {
    font-size: 2.125rem;
  }
}

button,
.button {
  position: relative;
  border-radius: 100px;
  color: #fff;
  font-size: 0.875rem;
  border: none;
  outline: none;
  padding: 16px 40px;
  cursor: pointer;
  transition: 0.15s ease-in-out;

  @include breakpoint-less(small) {
    width: 100%;
  }

  &.cyan {
    background-color: $cyan;
    border-bottom: 2px solid $cyan;

    &:hover {
      background-color: lighten($cyan, 5%);
      box-shadow: 0px 4px 10px rgba($cyan, 0.5);
    }
  }

  &.purple {
    background-color: $purple;
    border-bottom: 2px solid $purple;

    &:hover {
      background-color: lighten($purple, 5%);
      box-shadow: 0px 4px 10px rgba($purple, 0.5);
    }
  }
}

// Helper classes
.wrapper {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 157px;
  max-width: 1110px;
  margin: auto;

  @include breakpoint(large) {
    padding-bottom: 142px;
  }
}

.centered {
  text-align: center;
}

.content {
  max-width: 700px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

// P tags
p {
  margin-top: 0;
  max-width: 400px;
  margin: auto;
}
p.large {
  // 18px
  font-size: 1.2rem;
}
p.medium {
  // 18px
  font-size: 1.124rem;
  line-height: 1.75;
}
p.small {
  // 16px
  font-size: 1rem;
}

.margin-bottom {
  margin-bottom: 50px;
  line-height: 1.6;
}

.lg-margin-bottom {
  margin-bottom: 80px;
}

.xlg-margin-bottom {
  margin-bottom: 80px;
}

.cta-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint(medium) {
    display: block;
  }

  button:first-child {
    margin-bottom: 20px;
    @include breakpoint(medium) {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}
