.hero {
  padding-top: 120px;

  @include breakpoint(medium) {
    padding-top: 130px;
  }

  h1 {
    @include breakpoint(medium) {
      br {
        display: none;
      }
    }
  }

  &__logo {
    margin-bottom: 32px;
  }
}
